{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Geocoding and Search API v7",
    "description" : "This document describes the Geocoding and Search API.\n\n### \"ALPHA\" & \"BETA\" tags\n\n- API requests parameters and response fields can be tagged with one of the following maturity qualifiers: alpha, beta\n- \"ALPHA\" tagged features are in mid-stage development. They can change or in rare cases be removed.\n  No backward compatibility is guaranteed nor bug service level agreement (SLA) do apply.\n  Customers using ALPHA features are advised not use them in production.\n- \"BETA\" tagged features are in end-stage development. They are backward compatible and can not be removed.\n  They have no major bug, but coverage, quality, performance, or test coverage is not considered final.\n  customers can safely use BETA features in their applications if they accept those limitations and potential behavior refinements.\n\n### \"RESTRICTED\" tag\n\nAPI requests parameters and response fields can be tagged with the privilege qualifier \"RESTRICTED\".\nSuch features are only available to customers having a specific contract with HERE.\nUnauthorized usages are typically leading to a http status code 403.\n\n\n",
    "version" : "7.139"
  },
  "externalDocs" : {
    "description" : "The developer guide, release notes, and migration guide are available here.",
    "url" : "https://www.here.com/docs/category/geocoding-search-v7"
  },
  "servers" : [ {
    "url" : "https://geocode.search.hereapi.com/v1"
  } ],
  "security" : [ {
    "Bearer" : [ ]
  }, {
    "ApiKey" : [ ]
  } ],
  "paths" : {
    "/geocode" : {
      "get" : {
        "summary" : "Geocode",
        "description" : "This endpoint allows to find the geo-coordinates of a known address, place, locality or\nadministrative area, even if the query is incomplete or partly incorrect. It also returns a\ncomplete postal address string and address details. It supports structured, unstructured and\nhybrid queries - combinations of structured and unstructured query elements.",
        "parameters" : [ {
          "name" : "addressNamesMode",
          "in" : "query",
          "description" : "This option allows users to choose between displaying normalized or matched address fields in the response,\naffecting the names in the address block, the address label, and the result title.\nThis option is relevant when there is a difference between administrative naming and postal or common naming conventions, or when addressing with alternative street names.\nBy default, geocoding results provide matched names for administrative places and normalized (official) names for street names.\n\nDescription of supported values:\n\n- `matched`: The service returns matched names for address fields.\n- `normalized`: The service returns normalized (primary) names for address fields.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "matched", "normalized" ]
          }
        }, {
          "name" : "at",
          "in" : "query",
          "description" : "Specify the center of the search context expressed as coordinates.\n\nFormat: `{latitude},{longitude}`\n\nType: `{decimal},{decimal}`\n\nExample: `-13.163068,-72.545128` (Machu Picchu Mountain, Peru)\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "in",
          "in" : "query",
          "description" : "Search within a geographic area. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA geographic area can be\n\n * a country (or multiple countries), provided as comma-separated [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country codes\n\n   The country codes are to be provided in all uppercase.\n\n   Format: `countryCode:{countryCode}[,{countryCode}]*`\n\n   Examples:\n    * `countryCode:USA`\n    * `countryCode:CAN,MEX,USA`\n\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "postalCodeMode",
          "in" : "query",
          "description" : "Options to return multiple results in areas where a postal code is associated with more than one district or city area.\nWithout these options, the system only provides one result and may leave the district or city name blank or use a default name,\npotentially omitting relevant districts of cities.\n\nDescription of supported values:\n\n- `cityLookup`: When a postal code spans multiple cities, this option gives you all possible combinations of the postal code with the corresponding city names.\n- `districtLookup`: When a postal code spans multiple districts (within one city or across multiple cities), this option gives you all possible combinations of the postal code with the corresponding district and city names.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "cityLookup", "districtLookup" ]
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "Enter a free-text query\n\nExamples:\n * `125, Berliner, berlin`\n * `Beacon, Boston, Hospital`\n * `Schnurrbart German Pub and Restaurant, Hong Kong`\n\n_Note: Either `q` or `qq`-parameter is required on this endpoint. Both parameters can be provided in the same request._\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Invalidenstraße 116 Berlin"
          }
        }, {
          "name" : "qq",
          "in" : "query",
          "description" : "Enter a qualified query. A qualified query is similar to a free-text query, but in a structured manner.\n It can take multiple _sub-parameters_, separated by semicolon, allowing to specify different aspects of a query.\n\nCurrently supported _sub-parameters_ are `country`, `state`, `county`, `city`, `district`, `street`,\n `houseNumber`, and `postalCode`.\n\nFormat: `{sub-parameter}={string}[;{sub-parameter}={string}]*`\n\nExamples:\n * `city=Berlin;country=Germany;street=Friedrichstr;houseNumber=20`\n * `city=Berlin;country=Germany`\n * `postalCode=10969`\n\n_Note: Either `q` or `qq`-parameter is required on this endpoint. Both parameters can be provided in the same request._\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "types",
          "in" : "query",
          "description" : "A comma-separated list of the types that should be included in the response.\n\nIf this parameter is not set, all types are considered for the response.\n\nDescription of supported values:\n\n- `address`: restricting results to result types `houseNumber`, `street`, `postalCodePoint`, `intersection`, or `addressBlock`\n- `area`: restricting results to result types `locality` or `administrativeArea` including all the sub-types\n- `city`: restricting results to result type `locality` and locality type `city`\n- `houseNumber`: restricting results to result type: `houseNumber`, including house number types `PA` (Point Address), `MPA` (Micro Point Address) and\n  `interpolated`, including exact house number matches and house number fallbacks\n- `place`: restricting results to result type `place`\n- `postalCode`: restricting results to postal codes: either result type `postalCodePoint` or result type `locality` with locality type `postalCode`.\n\n    Note that in Ireland and Singapore, where each address has unique postal code,\n    `postalCodePoint` results are replaced by `houseNumber` results.\n- `street`: restricting results to result type `street`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "address", "area", "city", "houseNumber", "place", "postalCode", "street" ]
            }
          }
        }, {
          "name" : "with",
          "in" : "query",
          "description" : "Activate certain features or consider specific kinds of results, that would not be active or provided by default.\n\nDescription of supported values:\n\n- **RESTRICTED** `MPA`: Enables geocoding to Micro Point Address results. GS7 supports micro point addresses in the following countries: AUS, CAN, NZL, USA, PRI.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MPA" ]
            }
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Select the language to be used for result rendering from a list of [BCP 47](https://en.wikipedia.org/wiki/IETF_language_tag) compliant language codes.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "politicalView",
          "in" : "query",
          "description" : "Toggle the political view.\n\nThis parameter accepts a single ISO 3166-1 alpha-3 country code in all uppercase.\n\nIf a valid 3-letter country code is provided for which GS7 does not have a dedicated political view, it will fallback to the default view.\n\nThe following political views are currently supported:\n\n- `ARG`: Argentina's view on the Southern Patagonian Ice Field and Tierra Del Fuego, including the Falkland Islands, South Georgia, and South Sandwich Islands\n- `EGY`: Egypt's view on Bir Tawil\n- `IND`: India's view on Gilgit-Baltistan\n- `KEN`: Kenya's view on the Ilemi Triangle\n- `MAR`: Morocco's view on Western Sahara\n- `PAK`: Pakistan's view on Jammu and Kashmir and the Junagadh Area\n- `RUS`: Russia's view on Crimea\n- `SDN`: Sudan's view on the Halaib Triangle\n- `SRB`: Serbia's view on Kosovo, Vukovar, and Sarengrad Islands\n- `SUR`: Suriname's view on the Courantyne Headwaters and Lawa Headwaters\n- `SYR`: Syria's view on the Golan Heights\n- `TUR`: Turkey's view on Cyprus and Northern Cyprus\n- `TZA`: Tanzania's view on Lake Malawi\n- `URY`: Uruguay's view on Rincon de Artigas\n- `VNM`: Vietnam's view on the Paracel Islands and Spratly Islands",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show",
          "in" : "query",
          "description" : "Select additional fields to be rendered in the response.\nPlease note that some of the fields involve additional webservice calls and can increase the overall response time.\n\nThe value is a comma-separated list of the sections to be enabled.\nFor some sections there is a long and a short ID.\n\nDescription of supported values:\n\n- `countryInfo`: For each result item renders additional block with the country info, such as\n  [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) and\n  [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country code.\n- `parsing`\n- `postalCodeDetails`: For each result item of types `postalCodePoint` renders block with additional information about this postal code,\n  such as postal code type: ZIP or ZIP+4; ZIP classification code: PO BOX, Unique or military; record type code for ZIP+4 codes.\n  This feature is currently available only in the countries which are using ZIP codes - USA, PRI, VIR, GUM, MNP and ASM.\n- `secondaryUnitInfo`: For each matched unit designator, the geocode endpoint returns an additional block\n  containing the normalized unit type and unit value. GS7 geocode currently supports\n  normalized secondary unit info in the following countries:\n  AUS, AUT, BRA, CAN, ESP, FRA, GBR, IDN, IND, NZL, TUR, TWN, USA.\n- `streetInfo`: For each result item renders additional block with the street name decomposed into its parts like the base name, the street type, etc.\n- `tz`: Renders result items with additional time zone information.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "countryInfo", "parsing", "postalCodeDetails", "secondaryUnitInfo", "streetInfo", "tz" ]
            }
          }
        }, {
          "name" : "showMapReferences",
          "in" : "query",
          "description" : "Return the map references of the location objects\n\nDescription of supported values:\n\n- `adminIds`: Return the ids for the admin hierarchy of the response, to enable cross referencing into other services or data applications based on HERE Map Content\n- `cmVersion`: Return the core map version number of the region where the result is located\n- `links`: Return the link references from the result's access position,\n  to enable cross referencing into other services or data applications\n- `pointAddress`: Return the reference of the point address,\n  to enable cross referencing into other services or data applications\n  based on HERE Map Content\n- `segments`: Return the street segment references from the result's access position,\n  to enable cross referencing into other services or data applications\n  based on HERE Map Content\n\n    **NOTE** The previous parameter `show=hmcReference` is deprecated and replaced\n    by `showMapReferences=segments` which serves the same purpose.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "adminIds", "cmVersion", "links", "pointAddress", "segments" ]
            }
          }
        }, {
          "name" : "showNavAttributes",
          "in" : "query",
          "description" : "Return requested additional attributes for segments in a road network if `showNavAttributes` parameter is specified with valid value and relevant data is available.\n\nThe value is a comma-separated list of the sections to be enabled.\n\nDescription of supported values:\n\n- `access`: Return the vehicle types allowed on a road or lane.\n- `functionalClass`: Return the functional class which is used to classify roads depending on the speed, importance and connectivity of the road.\n- `physical`: Return the values to describe special physical characteristics of a road.\n- `speedLimits`: Include speed limit and travel direction of the road in the results where available in content and when requested by the client application.\n\n  Note on `speedLimits`:\n  - The feature is not supported in Japan.\n  - This feature is subject to premium pricing. For details, contact your HERE customer representative.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "access", "functionalClass", "physical", "speedLimits" ]
            }
          }
        }, {
          "name" : "showRelated",
          "in" : "query",
          "description" : "allows enriching some types of response items with related items\n\nDescription of supported values:\n\n- **RESTRICTED** `MPA`: For `type=houseNumber` and `houseNumberType=PA` result items, include a block containing a list of micro point addresses associated to this address, such as buildings, floors (levels) or suites (units). GS7 supports micro point addresses in the following countries: AUS, CAN, NZL, USA, PRI.\n- `intersections`: For street and house number results, include a block containing a list of intersections nearest to the address.\n- **RESTRICTED** `parentPA`: For `type=houseNumber` and `houseNumberType=MPA` result items, include a block containing the \"parent\" point addresses associated with this micro point address. GS7 supports micro point addresses in the following countries: AUS, CAN, NZL, USA, PRI.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "MPA", "intersections", "parentPA" ]
            }
          }
        }, {
          "name" : "showTranslations",
          "in" : "query",
          "description" : "Shows translations and alternative names of the provided fields in all available languages.\n\nThis parameter accepts comma separated list of allowed fields for which translations are required.\n\nDescription of supported values:\n\n- `city`: shows alternative names and translations available for address field `city`\n- `county`: shows alternative names and translations available for address field `county`\n- `district`: shows alternative names and translations available for address field `district`\n- `state`: shows alternative names and translations available for address field `state`",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "city", "county", "district", "state" ]
            }
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "Used to correlate requests with their responses within a customer's application, for logging and error reporting.\n\nFormat: Free string, but a valid UUIDv4 is recommended.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The search results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenSearchGeocodeResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Client error: request failed validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Client error: http method not supported.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Client error: Rate limit exceeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Temporary server error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "servers" : [ {
        "url" : "https://geocode.search.hereapi.com/v1"
      } ]
    },
    "/discover" : {
      "get" : {
        "summary" : "Discover",
        "description" : "This endpoint processes a free-form text query for an address or place, and returns results in order of relevance.",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "Enter a free-text query\n\nExamples:\n * `125, Berliner, berlin`\n * `Beacon, Boston, Hospital`\n * `Schnurrbart German Pub and Restaurant, Hong Kong`\n\n _Note: Whitespace, urls, email addresses, or other out-of-scope queries will yield no results.\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Eismieze Berlin"
          }
        }, {
          "name" : "at",
          "in" : "query",
          "description" : "Specify the center of the search context expressed as coordinates\n\nFormat: `{latitude},{longitude}`\n\nType: `{decimal},{decimal}`\n\nExample: `-13.163068,-72.545128` (Machu Picchu Mountain, Peru)\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "52.5308,13.3856"
          }
        }, {
          "name" : "in",
          "in" : "query",
          "description" : "Search within a geographic area. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA geographic area can be\n\n * a country (or multiple countries), provided as comma-separated [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country codes\n\n   The country codes are to be provided in all uppercase.\n\n   Format: `countryCode:{countryCode}[,{countryCode}]*`\n\n   Examples:\n    * `countryCode:USA`\n    * `countryCode:CAN,MEX,USA`\n\n\n * a circular area, provided as latitude, longitude, and radius (in meters)\n\n   Format: `circle:{latitude},{longitude};r={radius}`\n\n   Type: `circle:{decimal},{decimal};r={integer}`\n\n   Example: `circle:52.53,13.38;r=10000`\n\n\n * a bounding box, provided as _west longitude_, _south latitude_, _east longitude_, _north latitude_\n\n   Format: `bbox:{west longitude},{south latitude},{east longitude},{north latitude}`\n\n   Example: `bbox:13.08836,52.33812,13.761,52.6755`\n\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n\n * The \"in=countryCode\" parameter must be accompanied by exactly one of \"at\", \"in=circle\" or \"in=bbox\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobilityMode",
          "in" : "query",
          "description" : "This field indicates the mode of mobility used by the end user when interacting with the Search\nservice through the customer application. The information is used to improve the relevance of\nsearch results.\n\nFor example, a search for “EV charging station” will preferentially return charging stations\nsuitable for trucks when the `mobilityMode` field is set to `truck`.\n\nThe `mobilityMode` field accepts a single value.\n\n\nDescription of supported values:\n\n- `car`: A standard motor vehicle primarily designed to transport up to 8 people, rather than cargo.\n- `motorbike`: A two-wheeled vehicle typically used by one or two people, suitable for commuting or long-distance travel.\n- `truck`: A larger vehicle primarily designed for transporting freight.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "car", "motorbike", "truck" ]
          }
        }, {
          "name" : "ranking",
          "in" : "query",
          "description" : "**BETA** Selects the ranking mode to be used.\nThis parameter only applies to places category or chain search use cases (See [discover-use-cases](https://www.here.com/docs/bundle/geocoding-and-search-api-developer-guide/page/topics/endpoint-discover-brief.html#use-cases)).\nIt is ignored for other search use cases.\n\n\nDescription of supported values:\n\n- **BETA** `excursionDistance`: Rank results in along the route parameter by increasing distance\n  from the route polyline.\n\n  Constraint: `ranking=excursionDistance` returns a 400 status code if the `route` parameter is not specified.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "excursionDistance" ]
          }
        }, {
          "name" : "route",
          "in" : "query",
          "description" : "**BETA** Select within a geographic corridor. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA `route` is defined by a [Flexible Polyline Encoding](https://github.com/heremaps/flexible-polyline),\n followed by an optional width, represented by a sub-parameter \"w\".\n\nFormat: `{route};w={width}`\n\nIn regular expression syntax, the values of `route` look like:\n\n`[a-zA-Z0-9_-]+(;w=\\d+)?`\n\n\"[a-zA-Z0-9._-]+\" is the encoded flexible polyline.\n\n\"w=\\d+\" is the optional width. The width is specified in meters from the center of the path. If no width is provided, the default is 1000 meters.\n\nType: `{Flexible Polyline Encoding};w={integer}`\n\nThe following constraints apply:\n * A `route` MUST contain at least two points (one segment).\n * A `route` MUST NOT contain more than 2,000 points.\n * A `route` MUST NOT have a width of more than 50,000 meters.\n\nExamples:\n * `BFoz5xJ67i1B1B7PzIhaxL7Y`\n * `BFoz5xJ67i1B1B7PzIhaxL7Y;w=5000`\n * `BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC;w=2000`\n\nNote: The last example above can be decoded (using the Python class [here](https://github.com/heremaps/flexible-polyline/tree/master/python) as follows:\n\n```\n>>> import flexpolyline\n>>> polyline = 'BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC'\n>>> flexpolyline.decode(polyline)\n[(52.51994, 13.38663, 1.0), (52.51009, 13.28169, 2.0), (52.43518, 13.19352, 3.0), (52.41073, 13.19645, 4.0),\n (52.38871, 13.15578, 5.0), (52.37278, 13.1491, 6.0), (52.37375, 13.11546, 7.0), (52.38752, 13.08722, 8.0),\n (52.40294, 13.07062, 9.0), (52.41058, 13.07555, 10.0)]\n```\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "with",
          "in" : "query",
          "description" : "Activate certain features or consider specific kinds of results, that would not be active or provided by default.\n\nDescription of supported values:\n\n- **ALPHA, RESTRICTED** `recommendPlaces`: The value \"recommendPlaces\" specifies that the endpoint ranks the results of place category search requests according to their importance and prominence, when this applies to the following categories: restaurant, coffee, supermarket, hotel, airport",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "recommendPlaces" ]
            }
          }
        }, {
          "name" : "evStation",
          "in" : "query",
          "description" : "`evStation[<property>]`  deep object parameter allows to add constraints on the places results of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`).\nSearch results of other types or categories will be returned without these constraints to be applied. Each property describes a separate constraint.\n\nCurrently, the following properties are supported:\n\n* `evStation[minPower]`: Sets a constraint on the minimum power in kW delivered by at least one of the station EVSE. Accepted is a single decimal value.\n\n* `evStation[connectorTypeIds]`: Sets a constraint on the connector type ID that the EV station result should have for at least one of its EVSE.\n   Accepted are comma-separated integer values for non-deprecated connectors, listed in the [HERE EV Charge Points API v2 documentation](https://www.here.com/docs/bundle/ev-charge-points-api-developer-guide/page/topics/resource-type-connector-types.html)\n\n* `evStation[supplierNames]`: Sets a constraint on the charge point operator name operating of the EV station place result. Accepted are multiple comma-separated names.\n\n* `evStation[current]`: Sets a constraint on the current phase provided at one of the EVSE of the EV station result. Accepted is either AC or DC\n\n* `evStation[eMobilityServiceProviderPartnerIds]`: Sets a constraint on the e-Mobility Service Providers (eMSP) available at the EV station place result.\n\n* `evStation[paymentMethodIds]`: Sets a constraint on the payment methods that the EV station result should support.\n\nExample (line-breaks used for the sake of readability):\n```\nevStation[connectorTypeIds]=29,33&evStation[minPower]=50.0&evStation[supplierNames]=ChargePoint&\nevStation[eMobilityServiceProviderPartnerIds]=1f351b84-cca5-11ed-8155-42010aa40002&evStation[paymentMethodIds]=creditCard\n```\n",
          "required" : false,
          "style" : "deepObject",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/evStation"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Select the language to be used for result rendering from a list of [BCP 47](https://en.wikipedia.org/wiki/IETF_language_tag) compliant language codes.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to be returned. For paginated queries (`offset` parameter) it specifies the expected number of results per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "**ALPHA** If set, the `offset` parameter switches on the pagination mode:\n\n* The response element items is returned together with the 4 attributes: `limit`, `offset`, `count`, `nextOffset`.\n* The response becomes a \"page\" of `<count>` results at a certain `offset`.\n* If `offset` parameter is not set, there is no pagination and none of the 4 attributes is returned.\n\nNote that if the `offset` value exceeds the total number of `items`, the response `items` list will be empty.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "politicalView",
          "in" : "query",
          "description" : "Toggle the political view.\n\nThis parameter accepts a single ISO 3166-1 alpha-3 country code in all uppercase.\n\nIf a valid 3-letter country code is provided for which GS7 does not have a dedicated political view, it will fallback to the default view.\n\nThe following political views are currently supported:\n\n- `ARG`: Argentina's view on the Southern Patagonian Ice Field and Tierra Del Fuego, including the Falkland Islands, South Georgia, and South Sandwich Islands\n- `EGY`: Egypt's view on Bir Tawil\n- `IND`: India's view on Gilgit-Baltistan\n- `KEN`: Kenya's view on the Ilemi Triangle\n- `MAR`: Morocco's view on Western Sahara\n- `PAK`: Pakistan's view on Jammu and Kashmir and the Junagadh Area\n- `RUS`: Russia's view on Crimea\n- `SDN`: Sudan's view on the Halaib Triangle\n- `SRB`: Serbia's view on Kosovo, Vukovar, and Sarengrad Islands\n- `SUR`: Suriname's view on the Courantyne Headwaters and Lawa Headwaters\n- `SYR`: Syria's view on the Golan Heights\n- `TUR`: Turkey's view on Cyprus and Northern Cyprus\n- `TZA`: Tanzania's view on Lake Malawi\n- `URY`: Uruguay's view on Rincon de Artigas\n- `VNM`: Vietnam's view on the Paracel Islands and Spratly Islands",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show",
          "in" : "query",
          "description" : "Select additional fields to be rendered in the response.\nPlease note that some of the fields involve additional webservice calls and can increase the overall response time.\n\nThe value is a comma-separated list of the sections to be enabled.\nFor some sections there is a long and a short ID.\n\nDescription of supported values:\n\n- `eMobilityServiceProviders`: Returns for each place of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`)\n  the list of e-Mobility Service Providers (eMSP) in `extended.evStation` field.\n- `ev`: Returns for each place of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`)\n\n  * connector groups details in `extended.evStation` field and\n  * detailed connectors availability in `extended.evAvailability` field.\n\n  Please note that the use of this option may impact latency.\n- `phonemes`: Renders phonemes for address and place names into the results.\n- `streetInfo`: For each result item renders additional block with the street name decomposed into its parts like the base name, the street type, etc.\n- `tz`: Renders result items with additional time zone information.\n- **BETA, RESTRICTED** `tripadvisor`: If available, adds images, ratings, and editorials from Tripadvisor (TM) in the `media` field of `place` results.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "eMobilityServiceProviders", "ev", "phonemes", "streetInfo", "tripadvisor", "tz" ]
            }
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "Used to correlate requests with their responses within a customer's application, for logging and error reporting.\n\nFormat: Free string, but a valid UUIDv4 is recommended.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The search results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenSearchSearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Client error: request failed validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Client error: http method not supported.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Client error: Rate limit exceeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Temporary server error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Discover",
        "description" : "**BETA, RESTRICTED** This endpoint processes a free-form text query for an address or place, and returns results in order of relevance.",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "Enter a free-text query\n\nExamples:\n * `125, Berliner, berlin`\n * `Beacon, Boston, Hospital`\n * `Schnurrbart German Pub and Restaurant, Hong Kong`\n\n _Note: Whitespace, urls, email addresses, or other out-of-scope queries will yield no results.\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Eismieze Berlin"
          }
        }, {
          "name" : "at",
          "in" : "query",
          "description" : "Specify the center of the search context expressed as coordinates\n\nFormat: `{latitude},{longitude}`\n\nType: `{decimal},{decimal}`\n\nExample: `-13.163068,-72.545128` (Machu Picchu Mountain, Peru)\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "52.5308,13.3856"
          }
        }, {
          "name" : "in",
          "in" : "query",
          "description" : "Search within a geographic area. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA geographic area can be\n\n * a country (or multiple countries), provided as comma-separated [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country codes\n\n   The country codes are to be provided in all uppercase.\n\n   Format: `countryCode:{countryCode}[,{countryCode}]*`\n\n   Examples:\n    * `countryCode:USA`\n    * `countryCode:CAN,MEX,USA`\n\n\n * a circular area, provided as latitude, longitude, and radius (in meters)\n\n   Format: `circle:{latitude},{longitude};r={radius}`\n\n   Type: `circle:{decimal},{decimal};r={integer}`\n\n   Example: `circle:52.53,13.38;r=10000`\n\n\n * a bounding box, provided as _west longitude_, _south latitude_, _east longitude_, _north latitude_\n\n   Format: `bbox:{west longitude},{south latitude},{east longitude},{north latitude}`\n\n   Example: `bbox:13.08836,52.33812,13.761,52.6755`\n\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n\n * The \"in=countryCode\" parameter must be accompanied by exactly one of \"at\", \"in=circle\" or \"in=bbox\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobilityMode",
          "in" : "query",
          "description" : "This field indicates the mode of mobility used by the end user when interacting with the Search\nservice through the customer application. The information is used to improve the relevance of\nsearch results.\n\nFor example, a search for “EV charging station” will preferentially return charging stations\nsuitable for trucks when the `mobilityMode` field is set to `truck`.\n\nThe `mobilityMode` field accepts a single value.\n\n\nDescription of supported values:\n\n- `car`: A standard motor vehicle primarily designed to transport up to 8 people, rather than cargo.\n- `motorbike`: A two-wheeled vehicle typically used by one or two people, suitable for commuting or long-distance travel.\n- `truck`: A larger vehicle primarily designed for transporting freight.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "car", "motorbike", "truck" ]
          }
        }, {
          "name" : "ranking",
          "in" : "query",
          "description" : "**BETA** Selects the ranking mode to be used.\nThis parameter only applies to places category or chain search use cases (See [discover-use-cases](https://www.here.com/docs/bundle/geocoding-and-search-api-developer-guide/page/topics/endpoint-discover-brief.html#use-cases)).\nIt is ignored for other search use cases.\n\n\nDescription of supported values:\n\n- **BETA** `excursionDistance`: Rank results in along the route parameter by increasing distance\n  from the route polyline.\n\n  Constraint: `ranking=excursionDistance` returns a 400 status code if the `route` parameter is not specified.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "excursionDistance" ]
          }
        }, {
          "name" : "route",
          "in" : "query",
          "description" : "**BETA** Select within a geographic corridor. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA `route` is defined by a [Flexible Polyline Encoding](https://github.com/heremaps/flexible-polyline),\n followed by an optional width, represented by a sub-parameter \"w\".\n\nFormat: `{route};w={width}`\n\nIn regular expression syntax, the values of `route` look like:\n\n`[a-zA-Z0-9_-]+(;w=\\d+)?`\n\n\"[a-zA-Z0-9._-]+\" is the encoded flexible polyline.\n\n\"w=\\d+\" is the optional width. The width is specified in meters from the center of the path. If no width is provided, the default is 1000 meters.\n\nType: `{Flexible Polyline Encoding};w={integer}`\n\nThe following constraints apply:\n * A `route` MUST contain at least two points (one segment).\n * A `route` MUST NOT contain more than 2,000 points.\n * A `route` MUST NOT have a width of more than 50,000 meters.\n\nExamples:\n * `BFoz5xJ67i1B1B7PzIhaxL7Y`\n * `BFoz5xJ67i1B1B7PzIhaxL7Y;w=5000`\n * `BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC;w=2000`\n\nNote: The last example above can be decoded (using the Python class [here](https://github.com/heremaps/flexible-polyline/tree/master/python) as follows:\n\n```\n>>> import flexpolyline\n>>> polyline = 'BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC'\n>>> flexpolyline.decode(polyline)\n[(52.51994, 13.38663, 1.0), (52.51009, 13.28169, 2.0), (52.43518, 13.19352, 3.0), (52.41073, 13.19645, 4.0),\n (52.38871, 13.15578, 5.0), (52.37278, 13.1491, 6.0), (52.37375, 13.11546, 7.0), (52.38752, 13.08722, 8.0),\n (52.40294, 13.07062, 9.0), (52.41058, 13.07555, 10.0)]\n```\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "with",
          "in" : "query",
          "description" : "Activate certain features or consider specific kinds of results, that would not be active or provided by default.\n\nDescription of supported values:\n\n- **ALPHA, RESTRICTED** `recommendPlaces`: The value \"recommendPlaces\" specifies that the endpoint ranks the results of place category search requests according to their importance and prominence, when this applies to the following categories: restaurant, coffee, supermarket, hotel, airport",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "recommendPlaces" ]
            }
          }
        }, {
          "name" : "evStation",
          "in" : "query",
          "description" : "`evStation[<property>]`  deep object parameter allows to add constraints on the places results of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`).\nSearch results of other types or categories will be returned without these constraints to be applied. Each property describes a separate constraint.\n\nCurrently, the following properties are supported:\n\n* `evStation[minPower]`: Sets a constraint on the minimum power in kW delivered by at least one of the station EVSE. Accepted is a single decimal value.\n\n* `evStation[connectorTypeIds]`: Sets a constraint on the connector type ID that the EV station result should have for at least one of its EVSE.\n   Accepted are comma-separated integer values for non-deprecated connectors, listed in the [HERE EV Charge Points API v2 documentation](https://www.here.com/docs/bundle/ev-charge-points-api-developer-guide/page/topics/resource-type-connector-types.html)\n\n* `evStation[supplierNames]`: Sets a constraint on the charge point operator name operating of the EV station place result. Accepted are multiple comma-separated names.\n\n* `evStation[current]`: Sets a constraint on the current phase provided at one of the EVSE of the EV station result. Accepted is either AC or DC\n\n* `evStation[eMobilityServiceProviderPartnerIds]`: Sets a constraint on the e-Mobility Service Providers (eMSP) available at the EV station place result.\n\n* `evStation[paymentMethodIds]`: Sets a constraint on the payment methods that the EV station result should support.\n\nExample (line-breaks used for the sake of readability):\n```\nevStation[connectorTypeIds]=29,33&evStation[minPower]=50.0&evStation[supplierNames]=ChargePoint&\nevStation[eMobilityServiceProviderPartnerIds]=1f351b84-cca5-11ed-8155-42010aa40002&evStation[paymentMethodIds]=creditCard\n```\n",
          "required" : false,
          "style" : "deepObject",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/evStation"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Select the language to be used for result rendering from a list of [BCP 47](https://en.wikipedia.org/wiki/IETF_language_tag) compliant language codes.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to be returned. For paginated queries (`offset` parameter) it specifies the expected number of results per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "**ALPHA** If set, the `offset` parameter switches on the pagination mode:\n\n* The response element items is returned together with the 4 attributes: `limit`, `offset`, `count`, `nextOffset`.\n* The response becomes a \"page\" of `<count>` results at a certain `offset`.\n* If `offset` parameter is not set, there is no pagination and none of the 4 attributes is returned.\n\nNote that if the `offset` value exceeds the total number of `items`, the response `items` list will be empty.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "politicalView",
          "in" : "query",
          "description" : "Toggle the political view.\n\nThis parameter accepts a single ISO 3166-1 alpha-3 country code in all uppercase.\n\nIf a valid 3-letter country code is provided for which GS7 does not have a dedicated political view, it will fallback to the default view.\n\nThe following political views are currently supported:\n\n- `ARG`: Argentina's view on the Southern Patagonian Ice Field and Tierra Del Fuego, including the Falkland Islands, South Georgia, and South Sandwich Islands\n- `EGY`: Egypt's view on Bir Tawil\n- `IND`: India's view on Gilgit-Baltistan\n- `KEN`: Kenya's view on the Ilemi Triangle\n- `MAR`: Morocco's view on Western Sahara\n- `PAK`: Pakistan's view on Jammu and Kashmir and the Junagadh Area\n- `RUS`: Russia's view on Crimea\n- `SDN`: Sudan's view on the Halaib Triangle\n- `SRB`: Serbia's view on Kosovo, Vukovar, and Sarengrad Islands\n- `SUR`: Suriname's view on the Courantyne Headwaters and Lawa Headwaters\n- `SYR`: Syria's view on the Golan Heights\n- `TUR`: Turkey's view on Cyprus and Northern Cyprus\n- `TZA`: Tanzania's view on Lake Malawi\n- `URY`: Uruguay's view on Rincon de Artigas\n- `VNM`: Vietnam's view on the Paracel Islands and Spratly Islands",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show",
          "in" : "query",
          "description" : "Select additional fields to be rendered in the response.\nPlease note that some of the fields involve additional webservice calls and can increase the overall response time.\n\nThe value is a comma-separated list of the sections to be enabled.\nFor some sections there is a long and a short ID.\n\nDescription of supported values:\n\n- `eMobilityServiceProviders`: Returns for each place of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`)\n  the list of e-Mobility Service Providers (eMSP) in `extended.evStation` field.\n- `ev`: Returns for each place of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`)\n\n  * connector groups details in `extended.evStation` field and\n  * detailed connectors availability in `extended.evAvailability` field.\n\n  Please note that the use of this option may impact latency.\n- `phonemes`: Renders phonemes for address and place names into the results.\n- `streetInfo`: For each result item renders additional block with the street name decomposed into its parts like the base name, the street type, etc.\n- `tz`: Renders result items with additional time zone information.\n- **BETA, RESTRICTED** `tripadvisor`: If available, adds images, ratings, and editorials from Tripadvisor (TM) in the `media` field of `place` results.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "eMobilityServiceProviders", "ev", "phonemes", "streetInfo", "tripadvisor", "tz" ]
            }
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "Used to correlate requests with their responses within a customer's application, for logging and error reporting.\n\nFormat: Free string, but a valid UUIDv4 is recommended.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request body must only contain those properties that are explicitly mentioned here.\nIn general, those are query parameter that might contain especially long values, e.g. `route`.\nFor POST requests those can alternatively still be supplied as query parameters. However, they\nmust never be provided in both URL and request body simultaneously.\n",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "The search results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenSearchSearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Client error: request failed validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Client error: http method not supported.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413" : {
            "description" : "Client error: request body exceeds size limit.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "Client error: request body has unsupported content type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Client error: Rate limit exceeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Temporary server error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "servers" : [ {
        "url" : "https://discover.search.hereapi.com/v1"
      } ]
    },
    "/autosuggest" : {
      "get" : {
        "summary" : "Autosuggest",
        "description" : "This endpoint suggests address or place candidates based on an incomplete or misspelled query,\n from which the user selects the best query to submit.\n\n_NOTE: The response may contain **experimental** elements not documented here.\n Any undocumented element is **subject to removal** at any time._\n",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "Enter a free-text query\n\nExamples:\n * `res`, `rest`, `resta`, `restau`, ...\n * `berlin+bran`, `berlin+brand`, `berlin+branden`, ...\n * `New+Yok+Giants`\n\n _Note: Whitespace, urls, email addresses, or other out-of-scope queries will yield no results.\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Eismieze Berlin"
          }
        }, {
          "name" : "at",
          "in" : "query",
          "description" : "Specify the center of the search context expressed as coordinates\n\nFormat: `{latitude},{longitude}`\n\nType: `{decimal},{decimal}`\n\nExample: `-13.163068,-72.545128` (Machu Picchu Mountain, Peru)\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "52.5308,13.3856"
          }
        }, {
          "name" : "in",
          "in" : "query",
          "description" : "Search within a geographic area. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA geographic area can be\n\n * a country (or multiple countries), provided as comma-separated [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country codes\n\n   The country codes are to be provided in all uppercase.\n\n   Format: `countryCode:{countryCode}[,{countryCode}]*`\n\n   Examples:\n    * `countryCode:USA`\n    * `countryCode:CAN,MEX,USA`\n\n\n * a circular area, provided as latitude, longitude, and radius (in meters)\n\n   Format: `circle:{latitude},{longitude};r={radius}`\n\n   Type: `circle:{decimal},{decimal};r={integer}`\n\n   Example: `circle:52.53,13.38;r=10000`\n\n\n * a bounding box, provided as _west longitude_, _south latitude_, _east longitude_, _north latitude_\n\n   Format: `bbox:{west longitude},{south latitude},{east longitude},{north latitude}`\n\n   Example: `bbox:13.08836,52.33812,13.761,52.6755`\n\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n\n * The \"in=countryCode\" parameter must be accompanied by exactly one of \"at\", \"in=circle\" or \"in=bbox\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobilityMode",
          "in" : "query",
          "description" : "This field indicates the mode of mobility used by the end user when interacting with the Search\nservice through the customer application. The information is used to improve the relevance of\nsearch results.\n\nFor example, a search for “EV charging station” will preferentially return charging stations\nsuitable for trucks when the `mobilityMode` field is set to `truck`.\n\nThe `mobilityMode` field accepts a single value.\n\n\nDescription of supported values:\n\n- `car`: A standard motor vehicle primarily designed to transport up to 8 people, rather than cargo.\n- `motorbike`: A two-wheeled vehicle typically used by one or two people, suitable for commuting or long-distance travel.\n- `truck`: A larger vehicle primarily designed for transporting freight.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "car", "motorbike", "truck" ]
          }
        }, {
          "name" : "ranking",
          "in" : "query",
          "description" : "**BETA** Selects the ranking mode to be used.\nThis parameter only applies to places category or chain search use cases (See [discover-use-cases](https://www.here.com/docs/bundle/geocoding-and-search-api-developer-guide/page/topics/endpoint-discover-brief.html#use-cases)).\nIt is ignored for other search use cases.\n\n\nDescription of supported values:\n\n- **BETA** `excursionDistance`: Rank results in along the route parameter by increasing distance\n  from the route polyline.\n\n  Constraint: `ranking=excursionDistance` returns a 400 status code if the `route` parameter is not specified.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "excursionDistance" ]
          }
        }, {
          "name" : "route",
          "in" : "query",
          "description" : "**BETA** Select within a geographic corridor. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA `route` is defined by a [Flexible Polyline Encoding](https://github.com/heremaps/flexible-polyline),\n followed by an optional width, represented by a sub-parameter \"w\".\n\nFormat: `{route};w={width}`\n\nIn regular expression syntax, the values of `route` look like:\n\n`[a-zA-Z0-9_-]+(;w=\\d+)?`\n\n\"[a-zA-Z0-9._-]+\" is the encoded flexible polyline.\n\n\"w=\\d+\" is the optional width. The width is specified in meters from the center of the path. If no width is provided, the default is 1000 meters.\n\nType: `{Flexible Polyline Encoding};w={integer}`\n\nThe following constraints apply:\n * A `route` MUST contain at least two points (one segment).\n * A `route` MUST NOT contain more than 2,000 points.\n * A `route` MUST NOT have a width of more than 50,000 meters.\n\nExamples:\n * `BFoz5xJ67i1B1B7PzIhaxL7Y`\n * `BFoz5xJ67i1B1B7PzIhaxL7Y;w=5000`\n * `BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC;w=2000`\n\nNote: The last example above can be decoded (using the Python class [here](https://github.com/heremaps/flexible-polyline/tree/master/python) as follows:\n\n```\n>>> import flexpolyline\n>>> polyline = 'BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC'\n>>> flexpolyline.decode(polyline)\n[(52.51994, 13.38663, 1.0), (52.51009, 13.28169, 2.0), (52.43518, 13.19352, 3.0), (52.41073, 13.19645, 4.0),\n (52.38871, 13.15578, 5.0), (52.37278, 13.1491, 6.0), (52.37375, 13.11546, 7.0), (52.38752, 13.08722, 8.0),\n (52.40294, 13.07062, 9.0), (52.41058, 13.07555, 10.0)]\n```\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "termsLimit",
          "in" : "query",
          "description" : "Maximum number of Query Terms Suggestions to be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "with",
          "in" : "query",
          "description" : "Activate certain features or consider specific kinds of results, that would not be active or provided by default.\n\nDescription of supported values:\n\n- **ALPHA, RESTRICTED** `recommendPlaces`: The value \"recommendPlaces\" specifies that the endpoint ranks the results of place category search requests according to their importance and prominence, when this applies to the following categories: restaurant, coffee, supermarket, hotel, airport",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "recommendPlaces" ]
            }
          }
        }, {
          "name" : "evStation",
          "in" : "query",
          "description" : "`evStation[<property>]`  deep object parameter allows to add constraints on the places results of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`).\nSearch results of other types or categories will be returned without these constraints to be applied. Each property describes a separate constraint.\n\nCurrently, the following properties are supported:\n\n* `evStation[minPower]`: Sets a constraint on the minimum power in kW delivered by at least one of the station EVSE. Accepted is a single decimal value.\n\n* `evStation[connectorTypeIds]`: Sets a constraint on the connector type ID that the EV station result should have for at least one of its EVSE.\n   Accepted are comma-separated integer values for non-deprecated connectors, listed in the [HERE EV Charge Points API v2 documentation](https://www.here.com/docs/bundle/ev-charge-points-api-developer-guide/page/topics/resource-type-connector-types.html)\n\n* `evStation[supplierNames]`: Sets a constraint on the charge point operator name operating of the EV station place result. Accepted are multiple comma-separated names.\n\n* `evStation[current]`: Sets a constraint on the current phase provided at one of the EVSE of the EV station result. Accepted is either AC or DC\n\n* `evStation[eMobilityServiceProviderPartnerIds]`: Sets a constraint on the e-Mobility Service Providers (eMSP) available at the EV station place result.\n\n* `evStation[paymentMethodIds]`: Sets a constraint on the payment methods that the EV station result should support.\n\nExample (line-breaks used for the sake of readability):\n```\nevStation[connectorTypeIds]=29,33&evStation[minPower]=50.0&evStation[supplierNames]=ChargePoint&\nevStation[eMobilityServiceProviderPartnerIds]=1f351b84-cca5-11ed-8155-42010aa40002&evStation[paymentMethodIds]=creditCard\n```\n",
          "required" : false,
          "style" : "deepObject",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/evStation"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Select the language to be used for result rendering from a list of [BCP 47](https://en.wikipedia.org/wiki/IETF_language_tag) compliant language codes.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to be returned. For paginated queries (`offset` parameter) it specifies the expected number of results per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "**ALPHA** If set, the `offset` parameter switches on the pagination mode:\n\n* The response element items is returned together with the 4 attributes: `limit`, `offset`, `count`, `nextOffset`.\n* The response becomes a \"page\" of `<count>` results at a certain `offset`.\n* If `offset` parameter is not set, there is no pagination and none of the 4 attributes is returned.\n\nNote that if the `offset` value exceeds the total number of `items`, the response `items` list will be empty.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "politicalView",
          "in" : "query",
          "description" : "Toggle the political view.\n\nThis parameter accepts a single ISO 3166-1 alpha-3 country code in all uppercase.\n\nIf a valid 3-letter country code is provided for which GS7 does not have a dedicated political view, it will fallback to the default view.\n\nThe following political views are currently supported:\n\n- `ARG`: Argentina's view on the Southern Patagonian Ice Field and Tierra Del Fuego, including the Falkland Islands, South Georgia, and South Sandwich Islands\n- `EGY`: Egypt's view on Bir Tawil\n- `IND`: India's view on Gilgit-Baltistan\n- `KEN`: Kenya's view on the Ilemi Triangle\n- `MAR`: Morocco's view on Western Sahara\n- `PAK`: Pakistan's view on Jammu and Kashmir and the Junagadh Area\n- `RUS`: Russia's view on Crimea\n- `SDN`: Sudan's view on the Halaib Triangle\n- `SRB`: Serbia's view on Kosovo, Vukovar, and Sarengrad Islands\n- `SUR`: Suriname's view on the Courantyne Headwaters and Lawa Headwaters\n- `SYR`: Syria's view on the Golan Heights\n- `TUR`: Turkey's view on Cyprus and Northern Cyprus\n- `TZA`: Tanzania's view on Lake Malawi\n- `URY`: Uruguay's view on Rincon de Artigas\n- `VNM`: Vietnam's view on the Paracel Islands and Spratly Islands",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show",
          "in" : "query",
          "description" : "Select additional fields to be rendered in the response.\nPlease note that some of the fields involve additional webservice calls and can increase the overall response time.\n\nThe value is a comma-separated list of the sections to be enabled.\nFor some sections there is a long and a short ID.\n\nDescription of supported values:\n\n- `details`: Renders address and contact details, as well as opening hours of the searched place.\n- `phonemes`: Renders phonemes for address and place names into the results.\n- `streetInfo`: For each result item renders additional block with the street name decomposed into its parts like the base name, the street type, etc.\n- `tz`: Renders result items with additional time zone information.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "details", "phonemes", "streetInfo", "tz" ]
            }
          }
        }, {
          "name" : "showMapReferences",
          "in" : "query",
          "description" : "Return the map references of the location objects\n\nDescription of supported values:\n\n- `adminIds`: Return the ids for the admin hierarchy of the response, to enable cross referencing into other services or data applications based on HERE Map Content\n- `pointAddress`: Return the reference of the point address,\n  to enable cross referencing into other services or data applications\n  based on HERE Map Content\n- `segments`: Return the street segment references from the result's access position,\n  to enable cross referencing into other services or data applications\n  based on HERE Map Content",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "adminIds", "pointAddress", "segments" ]
            }
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "Used to correlate requests with their responses within a customer's application, for logging and error reporting.\n\nFormat: Free string, but a valid UUIDv4 is recommended.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The search results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenSearchAutosuggestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Client error: request failed validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Client error: http method not supported.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Client error: Rate limit exceeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Temporary server error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "Autosuggest",
        "description" : "**BETA, RESTRICTED** This endpoint suggests address or place candidates based on an incomplete or misspelled query,\n from which the user selects the best query to submit.\n\n_NOTE: The response may contain **experimental** elements not documented here.\n Any undocumented element is **subject to removal** at any time._\n",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "Enter a free-text query\n\nExamples:\n * `res`, `rest`, `resta`, `restau`, ...\n * `berlin+bran`, `berlin+brand`, `berlin+branden`, ...\n * `New+Yok+Giants`\n\n _Note: Whitespace, urls, email addresses, or other out-of-scope queries will yield no results.\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Eismieze Berlin"
          }
        }, {
          "name" : "at",
          "in" : "query",
          "description" : "Specify the center of the search context expressed as coordinates\n\nFormat: `{latitude},{longitude}`\n\nType: `{decimal},{decimal}`\n\nExample: `-13.163068,-72.545128` (Machu Picchu Mountain, Peru)\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "52.5308,13.3856"
          }
        }, {
          "name" : "in",
          "in" : "query",
          "description" : "Search within a geographic area. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA geographic area can be\n\n * a country (or multiple countries), provided as comma-separated [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country codes\n\n   The country codes are to be provided in all uppercase.\n\n   Format: `countryCode:{countryCode}[,{countryCode}]*`\n\n   Examples:\n    * `countryCode:USA`\n    * `countryCode:CAN,MEX,USA`\n\n\n * a circular area, provided as latitude, longitude, and radius (in meters)\n\n   Format: `circle:{latitude},{longitude};r={radius}`\n\n   Type: `circle:{decimal},{decimal};r={integer}`\n\n   Example: `circle:52.53,13.38;r=10000`\n\n\n * a bounding box, provided as _west longitude_, _south latitude_, _east longitude_, _north latitude_\n\n   Format: `bbox:{west longitude},{south latitude},{east longitude},{north latitude}`\n\n   Example: `bbox:13.08836,52.33812,13.761,52.6755`\n\n\nThe following constraints apply:\n\n * One of \"at\", \"in=circle\" or \"in=bbox\" is required.\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n\n * The \"in=countryCode\" parameter must be accompanied by exactly one of \"at\", \"in=circle\" or \"in=bbox\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "mobilityMode",
          "in" : "query",
          "description" : "This field indicates the mode of mobility used by the end user when interacting with the Search\nservice through the customer application. The information is used to improve the relevance of\nsearch results.\n\nFor example, a search for “EV charging station” will preferentially return charging stations\nsuitable for trucks when the `mobilityMode` field is set to `truck`.\n\nThe `mobilityMode` field accepts a single value.\n\n\nDescription of supported values:\n\n- `car`: A standard motor vehicle primarily designed to transport up to 8 people, rather than cargo.\n- `motorbike`: A two-wheeled vehicle typically used by one or two people, suitable for commuting or long-distance travel.\n- `truck`: A larger vehicle primarily designed for transporting freight.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "car", "motorbike", "truck" ]
          }
        }, {
          "name" : "ranking",
          "in" : "query",
          "description" : "**BETA** Selects the ranking mode to be used.\nThis parameter only applies to places category or chain search use cases (See [discover-use-cases](https://www.here.com/docs/bundle/geocoding-and-search-api-developer-guide/page/topics/endpoint-discover-brief.html#use-cases)).\nIt is ignored for other search use cases.\n\n\nDescription of supported values:\n\n- **BETA** `excursionDistance`: Rank results in along the route parameter by increasing distance\n  from the route polyline.\n\n  Constraint: `ranking=excursionDistance` returns a 400 status code if the `route` parameter is not specified.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "excursionDistance" ]
          }
        }, {
          "name" : "route",
          "in" : "query",
          "description" : "**BETA** Select within a geographic corridor. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA `route` is defined by a [Flexible Polyline Encoding](https://github.com/heremaps/flexible-polyline),\n followed by an optional width, represented by a sub-parameter \"w\".\n\nFormat: `{route};w={width}`\n\nIn regular expression syntax, the values of `route` look like:\n\n`[a-zA-Z0-9_-]+(;w=\\d+)?`\n\n\"[a-zA-Z0-9._-]+\" is the encoded flexible polyline.\n\n\"w=\\d+\" is the optional width. The width is specified in meters from the center of the path. If no width is provided, the default is 1000 meters.\n\nType: `{Flexible Polyline Encoding};w={integer}`\n\nThe following constraints apply:\n * A `route` MUST contain at least two points (one segment).\n * A `route` MUST NOT contain more than 2,000 points.\n * A `route` MUST NOT have a width of more than 50,000 meters.\n\nExamples:\n * `BFoz5xJ67i1B1B7PzIhaxL7Y`\n * `BFoz5xJ67i1B1B7PzIhaxL7Y;w=5000`\n * `BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC;w=2000`\n\nNote: The last example above can be decoded (using the Python class [here](https://github.com/heremaps/flexible-polyline/tree/master/python) as follows:\n\n```\n>>> import flexpolyline\n>>> polyline = 'BlD05xgKuy2xCCx9B7vUCl0OhnRC54EqSCzpEl-HCxjD3pBCiGnyGCi2CvwFCsgD3nDC4vB6eC'\n>>> flexpolyline.decode(polyline)\n[(52.51994, 13.38663, 1.0), (52.51009, 13.28169, 2.0), (52.43518, 13.19352, 3.0), (52.41073, 13.19645, 4.0),\n (52.38871, 13.15578, 5.0), (52.37278, 13.1491, 6.0), (52.37375, 13.11546, 7.0), (52.38752, 13.08722, 8.0),\n (52.40294, 13.07062, 9.0), (52.41058, 13.07555, 10.0)]\n```\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "termsLimit",
          "in" : "query",
          "description" : "Maximum number of Query Terms Suggestions to be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "with",
          "in" : "query",
          "description" : "Activate certain features or consider specific kinds of results, that would not be active or provided by default.\n\nDescription of supported values:\n\n- **ALPHA, RESTRICTED** `recommendPlaces`: The value \"recommendPlaces\" specifies that the endpoint ranks the results of place category search requests according to their importance and prominence, when this applies to the following categories: restaurant, coffee, supermarket, hotel, airport",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "recommendPlaces" ]
            }
          }
        }, {
          "name" : "evStation",
          "in" : "query",
          "description" : "`evStation[<property>]`  deep object parameter allows to add constraints on the places results of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`).\nSearch results of other types or categories will be returned without these constraints to be applied. Each property describes a separate constraint.\n\nCurrently, the following properties are supported:\n\n* `evStation[minPower]`: Sets a constraint on the minimum power in kW delivered by at least one of the station EVSE. Accepted is a single decimal value.\n\n* `evStation[connectorTypeIds]`: Sets a constraint on the connector type ID that the EV station result should have for at least one of its EVSE.\n   Accepted are comma-separated integer values for non-deprecated connectors, listed in the [HERE EV Charge Points API v2 documentation](https://www.here.com/docs/bundle/ev-charge-points-api-developer-guide/page/topics/resource-type-connector-types.html)\n\n* `evStation[supplierNames]`: Sets a constraint on the charge point operator name operating of the EV station place result. Accepted are multiple comma-separated names.\n\n* `evStation[current]`: Sets a constraint on the current phase provided at one of the EVSE of the EV station result. Accepted is either AC or DC\n\n* `evStation[eMobilityServiceProviderPartnerIds]`: Sets a constraint on the e-Mobility Service Providers (eMSP) available at the EV station place result.\n\n* `evStation[paymentMethodIds]`: Sets a constraint on the payment methods that the EV station result should support.\n\nExample (line-breaks used for the sake of readability):\n```\nevStation[connectorTypeIds]=29,33&evStation[minPower]=50.0&evStation[supplierNames]=ChargePoint&\nevStation[eMobilityServiceProviderPartnerIds]=1f351b84-cca5-11ed-8155-42010aa40002&evStation[paymentMethodIds]=creditCard\n```\n",
          "required" : false,
          "style" : "deepObject",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/evStation"
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Select the language to be used for result rendering from a list of [BCP 47](https://en.wikipedia.org/wiki/IETF_language_tag) compliant language codes.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to be returned. For paginated queries (`offset` parameter) it specifies the expected number of results per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "**ALPHA** If set, the `offset` parameter switches on the pagination mode:\n\n* The response element items is returned together with the 4 attributes: `limit`, `offset`, `count`, `nextOffset`.\n* The response becomes a \"page\" of `<count>` results at a certain `offset`.\n* If `offset` parameter is not set, there is no pagination and none of the 4 attributes is returned.\n\nNote that if the `offset` value exceeds the total number of `items`, the response `items` list will be empty.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 99,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "politicalView",
          "in" : "query",
          "description" : "Toggle the political view.\n\nThis parameter accepts a single ISO 3166-1 alpha-3 country code in all uppercase.\n\nIf a valid 3-letter country code is provided for which GS7 does not have a dedicated political view, it will fallback to the default view.\n\nThe following political views are currently supported:\n\n- `ARG`: Argentina's view on the Southern Patagonian Ice Field and Tierra Del Fuego, including the Falkland Islands, South Georgia, and South Sandwich Islands\n- `EGY`: Egypt's view on Bir Tawil\n- `IND`: India's view on Gilgit-Baltistan\n- `KEN`: Kenya's view on the Ilemi Triangle\n- `MAR`: Morocco's view on Western Sahara\n- `PAK`: Pakistan's view on Jammu and Kashmir and the Junagadh Area\n- `RUS`: Russia's view on Crimea\n- `SDN`: Sudan's view on the Halaib Triangle\n- `SRB`: Serbia's view on Kosovo, Vukovar, and Sarengrad Islands\n- `SUR`: Suriname's view on the Courantyne Headwaters and Lawa Headwaters\n- `SYR`: Syria's view on the Golan Heights\n- `TUR`: Turkey's view on Cyprus and Northern Cyprus\n- `TZA`: Tanzania's view on Lake Malawi\n- `URY`: Uruguay's view on Rincon de Artigas\n- `VNM`: Vietnam's view on the Paracel Islands and Spratly Islands",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show",
          "in" : "query",
          "description" : "Select additional fields to be rendered in the response.\nPlease note that some of the fields involve additional webservice calls and can increase the overall response time.\n\nThe value is a comma-separated list of the sections to be enabled.\nFor some sections there is a long and a short ID.\n\nDescription of supported values:\n\n- `details`: Renders address and contact details, as well as opening hours of the searched place.\n- `phonemes`: Renders phonemes for address and place names into the results.\n- `streetInfo`: For each result item renders additional block with the street name decomposed into its parts like the base name, the street type, etc.\n- `tz`: Renders result items with additional time zone information.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "details", "phonemes", "streetInfo", "tz" ]
            }
          }
        }, {
          "name" : "showMapReferences",
          "in" : "query",
          "description" : "Return the map references of the location objects\n\nDescription of supported values:\n\n- `adminIds`: Return the ids for the admin hierarchy of the response, to enable cross referencing into other services or data applications based on HERE Map Content\n- `pointAddress`: Return the reference of the point address,\n  to enable cross referencing into other services or data applications\n  based on HERE Map Content\n- `segments`: Return the street segment references from the result's access position,\n  to enable cross referencing into other services or data applications\n  based on HERE Map Content",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "adminIds", "pointAddress", "segments" ]
            }
          }
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "Used to correlate requests with their responses within a customer's application, for logging and error reporting.\n\nFormat: Free string, but a valid UUIDv4 is recommended.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request body must only contain those properties that are explicitly mentioned here.\nIn general, those are query parameter that might contain especially long values, e.g. `route`.\nFor POST requests those can alternatively still be supplied as query parameters. However, they\nmust never be provided in both URL and request body simultaneously.\n",
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/body_1"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "The search results.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OpenSearchAutosuggestResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Client error: request failed validation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "405" : {
            "description" : "Client error: http method not supported.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413" : {
            "description" : "Client error: request body exceeds size limit.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415" : {
            "description" : "Client error: request body has unsupported content type.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429" : {
            "description" : "Client error: Rate limit exceeded.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503" : {
            "description" : "Temporary server error.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "servers" : [ {
        "url" : "https://autosuggest.search.hereapi.com/v1"
      } ]
    },
    "/autocomplete" : {
      "get" : {
        "summary" : "Autocomplete",
        "description" : "This endpoint completes the few entered keystrokes to the valid street address or\nadministrative area to speed-up entering the address queries.",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "description" : "Enter a free-text query\n\nExamples:\n * `ber`, `berl`, `berli`, ...\n * `berlin+p`, `berlin+paris`, `berlin+parise`, ...\n * `berlin+pariser+20`\n\n _Note: Whitespace, urls, email addresses, or other out-of-scope queries will yield no results._\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Berlin Pariser 20"
          }
        }, {
          "name" : "at",
          "in" : "query",
          "description" : "Specify the center of the search context expressed as coordinates.\n\nFormat: `{latitude},{longitude}`\n\nType: `{decimal},{decimal}`\n\nExample: `-13.163068,-72.545128` (Machu Picchu Mountain, Peru)\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "in",
          "in" : "query",
          "description" : "Search within a geographic area. This is a hard filter. Results will be returned if they are located within the specified area.\n\nA geographic area can be\n\n * a country (or multiple countries), provided as comma-separated [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country codes\n\n   The country codes are to be provided in all uppercase.\n\n   Format: `countryCode:{countryCode}[,{countryCode}]*`\n\n   Examples:\n    * `countryCode:USA`\n    * `countryCode:CAN,MEX,USA`\n\n\n * a circular area, provided as latitude, longitude, and radius (in meters)\n\n   Format: `circle:{latitude},{longitude};r={radius}`\n\n   Type: `circle:{decimal},{decimal};r={integer}`\n\n   Example: `circle:52.53,13.38;r=10000`\n\n\n * a bounding box, provided as _west longitude_, _south latitude_, _east longitude_, _north latitude_\n\n   Format: `bbox:{west longitude},{south latitude},{east longitude},{north latitude}`\n\n   Example: `bbox:13.08836,52.33812,13.761,52.6755`\n\n\nThe following constraints apply:\n\n * Parameters \"at\", \"in=circle\" and \"in=bbox\" are mutually exclusive. Only one of them is allowed.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "postalCodeMode",
          "in" : "query",
          "description" : "Options to return multiple results in areas where a postal code is associated with more than one district or city area.\nWithout these options, the system only provides one result and may leave the district or city name blank or use a default name,\npotentially omitting relevant districts of cities.\n\nDescription of supported values:\n\n- `cityLookup`: When a postal code spans multiple cities, this option gives you all possible combinations of the postal code with the corresponding city names.\n- `districtLookup`: When a postal code spans multiple districts (within one city or across multiple cities), this option gives you all possible combinations of the postal code with the corresponding district and city names.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "cityLookup", "districtLookup" ]
          }
        }, {
          "name" : "types",
          "in" : "query",
          "description" : "Limit the result items to the specified types.\n\nProvide one of the supported values or a comma separated list.\n\nDescription of supported values:\n\n- `area`: restricting results to result types `locality` or `administrativeArea` including all the sub-types\n- `city`: restricting results to result type `locality` and locality type `city`\n- `postalCode`: restricting results to postal codes: either result type `postalCodePoint` or result type `locality` with locality type `postalCode`.\n\n    Note that in Ireland and Singapore, where each address has unique postal code,\n    `postalCodePoint` results are replaced by `houseNumber` results.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "area", "city", "postalCode" ]
            }
          }
        }, {
          "name" : "lang",
          "in" : "query",
          "description" : "Select the preferred response language for result rendering from a list of BCP47 compliant Language Codes.\nThe Autocomplete endpoint tries to detect the query language based on matching name variants and then chooses the same language for the response.\n\nTherefore the end-user can see and recognize all the entered terms in the same language as in the query.\nThe specified preferred language is used only for not matched address tokens and for matched address tokens in case of ambiguity\n",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Maximum number of results to be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 5
          }
        }, {
          "name" : "politicalView",
          "in" : "query",
          "description" : "Toggle the political view.\n\nThis parameter accepts a single ISO 3166-1 alpha-3 country code in all uppercase.\n\nIf a valid 3-letter country code is provided for which GS7 does not have a dedicated political view, it will fallback to the default view.\n\nThe following political views are currently supported:\n\n- `ARG`: Argentina's view on the Southern Patagonian Ice Field and Tierra Del Fuego, including the Falkland Islands, South Georgia, and South Sandwich Islands\n- `EGY`: Egypt's view on Bir Tawil\n- `IND`: India's view on Gilgit-Baltistan\n- `KEN`: Kenya's view on the Ilemi Triangle\n- `MAR`: Morocco's view on Western Sahara\n- `PAK`: Pakistan's view on Jammu and Kashmir and the Junagadh Area\n- `RUS`: Russia's view on Crimea\n- `SDN`: Sudan's view on the Halaib Triangle\n- `SRB`: Serbia's view on Kosovo, Vukovar, and Sarengrad Islands\n- `SUR`: Suriname's view on the Courantyne Headwaters and Lawa Headwaters\n- `SYR`: Syria's view on the Golan Heights\n- `TUR`: Turkey's view on Cyprus and Northern Cyprus\n- `TZA`: Tanzania's view on Lake Malawi\n- `URY`: Uruguay's view on Rincon de Artigas\n- `VNM`: Vietnam's view on the Paracel Islands and Spratly Islands",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show",
          "in" : "query",
[...]
